/* line 5, ../sass/style.scss */
body, html, .body {
  background: #fff;
}

/* line 10, ../sass/style.scss */
.carousel-inner {
  width: 100%;
  max-height: 450px !important;
}

/* fiksiranje teksta da ne zavisi od velicine slike carousel */
@media only screen and (min-width: 1200px) {
  /* line 19, ../sass/style.scss */
  .carousel-caption {
    top: 30%;
  }
}
/* line 25, ../sass/style.scss */
.navbar {
  background-color: #ffffff;
  border: 0;
  font-weight: bold;
}

/* line 33, ../sass/style.scss */
.navbar a:hover {
  color: black !important;
}

/* line 36, ../sass/style.scss */
.navbar li a:active {
  border: 0;
  color: black !important;
}

/* line 40, ../sass/style.scss */
.navbar li a {
  font-size: 20px;
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  border-radius: 25px;
  border-style: inherit;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

/* line 59, ../sass/style.scss */
.navbar li a:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  background-color: aqua;
}

/* line 66, ../sass/style.scss */
.nav-bar nav-link a {
  color: black !important;
}

/* line 69, ../sass/style.scss */
.col-sm-4 {
  list-style: none;
}

/*Section Contact*/
/* line 75, ../sass/style.scss */
.modal-dialog {
  border: 0;
  opacity: 0.9;
}

/*Slikee WORK animacija*/
@-webkit-keyframes swing {
  30% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  /* 80%
   {
       -webkit-transform: translateX(2px);
       transform: translateX(2px);
   }
   100%
   {
       -webkit-transform: translateX(0);
       transform: translateX(0);
   }*/
}
@keyframes swing {
  30% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  /*80%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }*/
}
/* line 152, ../sass/style.scss */
.slika:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 159, ../sass/style.scss */
.slika {
  height: 300px;
  width: 260px;
}

/*ABOUT SECTIONNN*/
/* line 169, ../sass/style.scss */
.col-sm-12 {
  background-image: url(sky.jpg) !important;
  background-attachment: fixed;
}

/*Scroll design*/
/* line 180, ../sass/style.scss */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 200, ../sass/style.scss */
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 213, ../sass/style.scss */
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* line 216, ../sass/style.scss */
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/*FOOOOOOOTER*/
/* line 227, ../sass/style.scss */
.footer {
  background-color: #7a7a7a;
  padding: 10px 0;
}

/* line 232, ../sass/style.scss */
.footer a {
  color: blue;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}

/* line 240, ../sass/style.scss */
.footer a:hover {
  color: darkblue;
}

/* line 243, ../sass/style.scss */
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* line 248, ../sass/style.scss */
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
